{% load navbar %} 
{% get_categoryes as categoryes %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Восьмой пример навигационной панели">
    <div class="container">
      <a class="navbar-brand" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Блог Даниила</font></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Главная</font></font></a>
          </li>          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Категории</font></font></a>
            <ul class="dropdown-menu">
              {% for category in categoryes %}
                <li><a class="dropdown-item" href="/category/{{category.slug}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{category.name}}</font></font></a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">О нас</font></font></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-disabled="true" href="{% url 'adminpost' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Админка</font></font></a>
          </li>
          
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Поиск" aria-label="Поиск">
        </form>
      </div>
    </div>
  </nav>